<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->
  <node name="octomap_server_node" pkg="octomap_server" type="octomap_server_node">
     <remap from="/cloud_in" to="/camera/depth/points" />
   </node>
  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_diff.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find agv_nav)/costmap/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find agv_nav)/costmap/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find agv_nav)/costmap/local_costmap.yaml" command="load" />
    <rosparam file="$(find agv_nav)/costmap/global_costmap.yaml" command="load" />
    <rosparam file="$(find agv_nav)/base_config/base_config.yaml" command="load" />
  </node>
</launch>
