<?xml version="1.0"?>
<launch>
  <arg name="port" default="/dev/ttyACM0" />

  <!-- Arduino -->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="$(arg port)" respawn="true" />
  <node pkg="agv_base" type="odom_temp" name="odom_temp"/>
  <include file="$(find agv_base)/launch/odom.launch"/>
</launch>
