<launch>
  <rosparam>
    vehicle_width: 0.44      # meters
    wheel_radius: 0.1016      # meters
    max_acceleration: 0.5    # meters / s^2
  </rosparam>

  <arg name="simulate" default="false" />
  <node pkg="grizzly_motion" type="motion_generator" name="grizzly_motion_generator" />
  <node pkg="grizzly_motion" type="motion_safety" name="grizzly_motion_safety" unless="$(arg simulate)"/>
  <!-- <node pkg="grizzly_motion" type="dead_reckoning" name="grizzly_dead_reckoning" /> -->
</launch>
